body{
    height: 100%;
    width: 100%;
}

.formular-container{
    margin-left: 33%;
    margin-top: 10%;
}

#måne{
    padding: 30px;
    position: fixed;
}

#sol{
    display: none;
    padding: 30px;
    position: fixed;
}

#button{
    
}